/* cards.module.css */
.cardsListContainer {
  display: grid;
  grid-template-columns: repeat(5,minmax(0,1fr));
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: all .3s ease;
}

.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: all .3s ease;
}

.card:hover img{
  opacity: 1;
  transition: opacity .13s ease;
}

.cardImageNotOwned {
  opacity: 0.3;
  transition: opacity .3s ease;
}

.cardImage {
  object-fit: cover;
  border-radius: 8px;
}

.cardName {
  margin: 0.6rem 0;
  max-width: 180px;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.4rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-white-space: nowrap;
  overflow: hidden;
}

.cardDescription {
  margin-bottom: 0.6rem;
  max-width: 180px;
  font-size: 0.75rem;
}

/* style to each child of cardDescription */
.cardDescription > * {
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-white-space: nowrap;
  overflow: hidden;
}

.cardControls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  width: 100%;
  font-size: 1rem;
}

.cardControls button{
	background: transparent;
	border: none;
  border-width: 0;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
	cursor: pointer;
}

.cardControls .disabled{
	cursor: unset;
}

.cardControls span {
  font-size: 1.5rem;
}

.cardControls svg {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

/* Tablet */
@media (max-width: 1000px) {
  .cardsListContainer {
    grid-template-columns: repeat(4,minmax(0,1fr));
  }
}
/* Mobile */
@media (max-width: 835px) {
  .cardsListContainer {
    grid-template-columns: repeat(3,minmax(0,1fr));
  }
}
@media (max-width: 610px) {
  .cardsListContainer {
    grid-template-columns: repeat(2,minmax(0,1fr));
  }
}
@media (max-width: 500px) {
  .cardsListContainer {
    grid-template-columns: repeat(1,minmax(0,1fr));
  }
}