/* NavBar styles */
.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-height: 20px
}

.navbar {  
  display: block;
  position: sticky;
  top: 0;
  background-color: #333;
  z-index: 999;
}

.navbarLinks {
  display: flex;
  gap: 24px;
}

.navbarLinks a {
  text-decoration: none;
  transition: color .15s ease;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}

.navbarLinks a:hover,
.navbarLinks .active {
  color: violet;
}

.navbarProfileContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbarProfileContainer button {
  width: 100px;
  border: none;
  border-radius: 8px;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.1rem;
}

.navbarProfileContainer button:first-child {
  background-color: #42b72a;
  color: #fff
}

.navbarProfileContainer button:last-child {
  background-color: #1877f2;
  color: #fff
}