/* NavBar styles */
.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar {  
  display: block;
  position: sticky;
  top: 0;
  background-color: #333;
  z-index: 999;
}

.navbarLinks {
  display: flex;
  gap: 24px;
}

.navbarLinks a {
  text-decoration: none;
  transition: color .15s ease;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}

.navbarLinks a:hover {
  color: #000;
}

.navbarLinks .active {
  color: yellow;
}