.bannerContainer{
  display: flex;
  max-height: 500px;
  padding: 0 1rem
}

.bannerImageContainer {
  display: flex;
  width: 50%;
  max-width: 50%;
  justify-content: center;
  align-items: center;
}

.bannerImageContainer img{
  object-fit: cover;
}

.bannerCallToActionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  max-width: 50%; 
}

.bannerButtons {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 1rem;
}

.bannerButtons button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}

.bannerButtons button a {
  text-decoration: none;
  color: #fff;
  height: 100%;
  width: 100%;
}

.bannerButtons button:first-child {
  background-color: #42b72a;
  color: #fff;
}

.bannerButtons button:last-child {
  background-color: #1877f2
}

/* Mobile */
@media (max-width: 700px) {
  
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
}

@media (prefers-color-scheme: dark) {
  
}
