.container {
  min-width: 360px;
  max-width: 1200px;
  margin: 0 auto;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  border: 1px solid blue;
}

.navbar {  
  display: block;
  position: sticky;
  top: 0;
  border: 1px solid green;
  background-color: #333;
}

.navbarLinks {
  display: flex;
  gap: 24px;
}

.navbarLinks a {
  text-decoration: none;
  transition: color .15s ease;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}

.navbarLinks a:hover {
  color: #000;
}

.navbarLinks .active {
  color: yellow;
}

/* Mobile */
@media (max-width: 700px) {
  
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
}

@media (prefers-color-scheme: dark) {
  
}
